
img/img/.DS_Store
img/img/projects/.DS_Store
img/img/projects/personal/.DS_Store
img/img/projects/personal/goit/.DS_Store
img/img/projects/personal/pro-test/.DS_Store
img/img/projects/personal/wedding/.DS_Store
img/img/projects/team/.DS_Store
img/img/projects/team/it-test/.DS_Store
img/img/projects/team/questify/.DS_Store
